<% if user_is_authorized_to_update? %>
<h1>Edit Wiki</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Markdown Guidelines</p>
     <ul>
       <li><b>Headers</b>
         <%= markdown("```# Heading 1```") %>
         <%= markdown("```## Heading 2```") %>
       </li>
       <li><b>Emphasis</b>
         <%= markdown("```*italic* and **bold**```") %>
       </li>
       <li><b>Blockquotes</b>
         <%= markdown("```> quote```") %>
       </li>
       <li><b>Links</b>
         <%= markdown("```[linked text](url)```") %>
       </li>
       <li><b>Images</b>
         <%= markdown("```![Image Name](url)```") %>
       </li>
     </ul>
   </div>
   
   <div class="col-md-8">
     <%= form_for @wiki do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter Wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Wiki body" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>
 <% end %>
