<h1><%= markdown(@wiki.title) %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class="col-md-4">
    <% if user_is_authorized_to_update? %>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% end %>
    <%if user_is_authorized_to_delete? %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% end %>
  </div>
</div>


<div class="container">
   <div class="row">
     <h4>List of Wiki Collaborators:</h4>
     <% @wiki.collaborators.each do |collaborator| %>
       <p>
         <%= collaborator.user.email %> <small><em> - user ID: <%= collaborator.user.id%></em></small>
         <!-- delete collaborator option only available to creator -->
         <% if @wiki.user == current_user %>
           <%= link_to "Remove", @collaborator, method: :delete, class: 'glyphicon glyphicon-ok' %>
         <% end %>
       </p>
     <% end %>
   </div>
 </div>
